<h1>Movies</h1>

<% @movies.each do |movie_hash| %>

  <div class="movie-box">
    <a href="#"><%= image_tag(movie_hash[:image_url]) %></a>
    <h3><a href="#"><%= movie_hash[:title] %></a></h3>
  </div>

<% end %>
