<h1>Movies</h1>
<% IMDB.all.each do |movie_hash| %>

  <div class="movie-box">
    <a href="#"><%= image_tag(movie_hash[:image_url]) %></a>
    <h3><a href="#"><%= movie_hash[:title] %></a></h3>
    <p><%= movie_hash[:image_url] %></p>
  </div>

<% end %>
